body {
  font-family: sans-serif;
  font-size: 14px;
  color: #c73441;
}
.menu{
  float: right;
  font-size: 14px;
  color: #881318;
}

h1{
  text-align: center;
}

footer{
  position:fixed;
  bottom: 10px;
  background-color: rgba(194, 199, 170, 0.78);
  border: solid 2px #000000;
  border-radius: 20px;
  display: block;
  font-size: 14px;
}